#wholepage{
    width: 100%;
    height: 100%;
    background-color: red;
    float: left;
    position: absolute;
    top: 0%;
    left: 0%;
}

#headerRow{
    width: 100%;
    height: 8%;
    background-color: darkblue;
    float: left;
    position: absolute;
    top: 0%;
    
    
}

#banner{
    
    font-size: 50px;
    top: 30%;
    left: 50%;
    color: lightgrey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#midRow{
    width: 100%;
    height: 84%;
    background-color: blue;
    float: left;
    position: absolute;
    top: 8%;
    left: 0%;
    
}

#leftColumn{
    width: 8%;
    height: 100%;
    background-color: darkblue;
    float: left;
    position: absolute;
    top: 0%;
    left: 0%;
    
}

#middleColumn{
    width: 84%;
    height: 84%;
    background-color: orange;
    float: left;
    position: absolute;
    top: 0%;
    left: 8%;
    
}

#Row1{
    width: 100%;
    height: 40%;
    background-color: wheat;
    float: left;
    position: absolute;
    top: 0%;
    left: 0%;
    
}

#Row2{
    width: 100%;
    height: 40%;
    background-color: wheat;
    float: left;
    position: absolute;
    top: 40%;
    left: 0%;
    
}

#Row3{
    width: 100%;
    height: 40%;
    background-color: wheat;
    float: left;
    position: absolute;
    top: 80%;
    left: 0%;
    
}

#rightColumn{
    width: 8%;
    height: 100%;
    background-color: darkblue;
    float: left;
    position: absolute;
    top: 0%;
    left: 92%;
    
}

#footerRow{
    width: 100%;
    height: 8%;
    background-color: darkblue;
    float: left;
    position: absolute;
    top: 92%;
    left: 0%;
    
}

#companyTitle{
        font-size: 40px;
        position: absolute;
        top: 0%;
        left: 0%;
        color: dimgrey;
        float: left;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#companyInfo{
        font-size: 20px;
        color: black;
        float: left;
}

#dateShow{
    font-size: 40px;
    position: absolute;
    top: 0%;
    left: 40%;
    color: black;
    float: left;
    font-family: monospace;
}

#loginShow{
    font-size: 30px;
    color: black;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#stockSection{
    display: none;
    position: absolute;
    top: 30%;
    width: 100%;
}

#companyIcon{
    width: 100px;
    height: 100px;
    margin: -15px;
    
}

#ABCaction, #XYZaction, #Acmeaction, #Flingaction, #Neutralaction, #TSIaction{
    margin: 10px;
}


#ABC_Comment, #XYZ_Comment, #Acme_Comment, #Fling_Comment, #Neutral_Comment, #TSI_Comment{
    display: none;
    width: 50%;
    height: 60%;
    resize: none;
}

textarea{
    resize: none;
    width: 100%;
    height: 60%;
}

#ABCresults, #XYZresults, #Acmeresults, #Flingresults, #Neutralresults, #TSIresults{
    font-size: 16px;
    position: absolute;
    top: 0%;
    left: 50%;
    color: black;
    float: left;
    font-family: monospace;
    width: 50%;
    height: 30%; 
    background: transparent;
}

